# Entorno virtual
venv/
env/
ENV/

# Archivos de caché de Python
__pycache__/
*.py[cod]
*$py.class

# Archivos de configuración local
.env

# Logs
*.log

# Archivos de sistema operativo
.DS_Store
Thumbs.db

# Archivos de IDE
.idea/
.vscode/
*.swp
*.swo
